:root {
    --white-color:#fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;/*ke thua tu the chua no*/
}

html {
    /* HACK - khi do 1rem = 10px nham` de su dung,
    trong nay sb don vi rem */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Amimation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
