/* Mobile & tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }

    .display-on-mobile-tablet {
        display: block;
    }
    /* test -fix */
    .home-product__pagination {
        display: none;
    }

    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
    }

    /* .header__search {
        position: absolute;
        top: var(--header-height);
        z-index: 1;
    } */

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::before {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .app__container {
        margin-top: var(--header-height);
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__logo,
    .header__cart {
        width: unset;
    }

    .header__mobile,
    .header__cart-wrap {
        padding: 0 12px;
    }

    .header__cart-notice {
        right: 0;
    }

    .header__mobile-navbar-icon {
        margin-left: -8px;
    }

    .header__mobile-search-icon {
        padding: 0 8px 0 4px;
    }
}

